name: test
on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash -xe {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
      - run: make vet
      - name: Start services
        run: |
          for i in {1..60}; do docker compose up -d --quiet-pull && break; sleep 1; done
          for i in {1..60}; do mysqladmin -u root -h 127.0.0.1 -P 13306 ping && break; sleep 1; done
          for i in {1..60}; do pg_isready -U postgres -h 127.0.0.1 -p 15432 && break; sleep 1; done
      - run: make testacc
      - name: Check race conditions
        run: |
          echo '{"q":"select 1"}' > data1.jsonl
          echo '{"q":"select 2"}' > data2.jsonl
          echo '{"q":"select 3"}' > data3.jsonl
          go run -race ./cmd/qube -d 'root@tcp(127.0.0.1:13306)/' -f data1.jsonl,data2.jsonl,data3.jsonl -t 3s -n 10
          echo '{"q":"invalid"}' >> data1.jsonl
          echo '{"q":"invalid"}' >> data2.jsonl
          echo '{"q":"invalid"}' >> data3.jsonl
          go run -race ./cmd/qube -d 'postgres://postgres@localhost:15432' -f data1.jsonl,data2.jsonl,data3.jsonl -t 3s -n 10 --force
